/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
 
--*/
html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
}
body {
  color: #444;
  font-size: 1.6rem;
  font-family: 'Gentium Book Plus', serif;
  background-color: #daccba84;
}
p {
  margin-bottom: .67em;
  margin:auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
nav, footer {
  background-color: #444;
}
footer {
  background-color: #444;  /* Dark charcoal */
  text-align: center;
  padding: 1.5em 0;
  color: #dfe6e9;  /* Light gray */
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1.3em;
  margin-top: 0px;
}
nav a:link, nav a:visited {
  color: #dfe6e9;  /* Light gray */
  text-decoration: none;
  transition: color 0.3s ease;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: auto;
  text-align: center;
}
header img {
  width: 100%;
  margin: auto;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
}
.small {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 1em;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 0 -3px 4px rgba(0,0,0,0.1);
  background-color: #e7d8c889;
}
/* Dropcap Style */
.dropcap {
  float: left;
  font-size: 4.5em;
  padding: 0.1em 0.1em 0 0;
  line-height: 0.65;
  color: #212529;  /* Light blue */
  font-weight: bold;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-family: 'Time New Roman', serif;
  font-weight: 300;
  font-size: 0.9em;
  color: #654;
  font-style: italic;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 96%;
}
a.button {
  border: 2px solid #424141c8;
  padding: .4em 1em .4em 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-decoration: none;
  color: #212121;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
  transition: border 0.3s ease, color 0.3s ease;
  background-color: #e2c19b8f;
}
a.button:hover, a.button:active {
  border: 3px solid #444;
  text-decoration: none;
  color: #222;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
